*{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 50px;
    background-color: rgb(8, 1, 36);
    color: white;
    text-align: center;
    line-height: 3rem;
}
.choice{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;   
}
.choice:hover {
    
    background-color: rgb(5, 6, 15);
}
img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 2px solid black;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 2rem;
    margin-top: 3rem;
}
#user-count{
    text-align: center;
    font-size: 3rem;
}
#comp-count{
    text-align: center;
    font-size: 3rem;
}
.msg{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}
#result{
    background-color: rgb(17, 19, 32);
    color: white;
    display: inline;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 1rem;
}
.win{
    background-color: green;
    color: white;
}
.loose{
    background-color: red;
    color: white;
}